<!DOCTYPE html>
<html>
  <head>
    <title>Stack</title>
    <link rel="icon" href="<%= image_url('slack-icon-logo.png') %>"  type="image/icon type">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/9fc63438b8.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.slackLogo = "<%= image_url('slack-icon-logo.png') %>"
      window.githubLogo = "<%= image_url('GitHub-logo.png') %>"
      window.linkedinLogo = "<%= image_url('linkedin-logo.png') %>"
      window.profilePicture1 = "<%= image_url('slack-profile-default1.png') %>"
      window.profilePicture2 = "<%= image_url('slack-profile-default2.png') %>"
      window.profilePicture3 = "<%= image_url('slack-profile-default3.png') %>"
      window.profilePicture4 = "<%= image_url('slack-profile-default4.png') %>"
      window.profilePicture5 = "<%= image_url('slack-profile-default5.png') %>"
      window.profilePicture6 = "<%= image_url('slack-profile-default6.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
